body {
  margin: 0;
  font: sans-serif;
}

.App-header {
  width: 100%;
  background-color: #20232a;
}

.App-title {
  margin: 0;
  padding-top: 1em;
  padding-bottom: em;
  text-align: center;
  color: #61dafb;
}