body {
  margin: 0;
  font: sans-serif;
  background-color: gray;
}

.app-header {
  width: 100%;
  background-color: #20232a;
}

.app-title {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  color: #61dafb;
}